%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to #{ENV['COMPANY_NAME']}
    %p
      Thank you for contacting our website for registration
      %br/
    %p
      To finish the registration, please click
      =link_to "the registration link", registration_url(token: @token)
      %br/
    %p
      Thank you!
